html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrap{
    width: 1024px;
    margin: 0 auto;
    padding-top: 20px;
}




.community-logo{
    width: 1024px;
    display: flex;
    justify-content:flex-end;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: gainsboro;
    
}

.community-logo li{
    padding-left: 5px;
}


.community-logo li a{
    font-size: 18px;
    text-decoration: none;
}




.header{
    width: 1024px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    
}

.menu{
    width: 300px;
    display: flex;
    align-items: center;
    text-align: center;

    
}

.menu li {
    padding-left: 5px;
    padding-right: 25px;
    font-size: 20px;
     
}

.menu li a{
    text-decoration: none;
    color:rgb(13, 172, 79)
}

.banner-logo img{
    width: 1024px;
}


.course{
    display: flex;
    justify-content: space-around;
    
}


.course-item{
    
    width: 300px;
    padding: 15px;
}



.course-item h2{
    text-align: center;
    font-size: 22px;
    color: darkred;
    padding-bottom: 10px;
}

.course-item p{
    text-align: justify;
    line-height: 1.5;
    padding-left: 20px
    
}

.course-item ul{
    padding-left: 40px;
}



.course-item ul li{
    text-align: justify;
    line-height: 1.5;
    
}

.footer{
    width: 1024px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    
}

.footer .footer-ft {
    padding-right: 10px;
    line-height: 1.5;
    font-size: 16px;
    color: darkred
}